.inline-grid {
  display: -ms-inline-grid;
  display: inline-grid;
}

.v-grid {
  display: -ms-grid;
  display: grid;
}

.gap-0 {
  gap: 0px;
}

.col-gap-0 {
  -webkit-column-gap: 0px;
          column-gap: 0px;
}

.row-gap-0 {
  row-gap: 0px;
}

@media screen and (min-width: 640px) {
  .mb\:gap-0 {
    gap: 0px;
  }
  .mb\:col-gap-0 {
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
  .mb\:row-gap-0 {
    row-gap: 0px;
  }
}

@media screen and (min-width: 768px) {
  .tb\:gap-0 {
    gap: 0px;
  }
  .tb\:col-gap-0 {
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
  .tb\:row-gap-0 {
    row-gap: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .lp\:gap-0 {
    gap: 0px;
  }
  .lp\:col-gap-0 {
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
  .lp\:row-gap-0 {
    row-gap: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .dt\:gap-0 {
    gap: 0px;
  }
  .dt\:col-gap-0 {
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
  .dt\:row-gap-0 {
    row-gap: 0px;
  }
}

.gap-0\/2 {
  gap: 0.5px;
}

.col-gap-0\/2 {
  -webkit-column-gap: 0.5px;
          column-gap: 0.5px;
}

.row-gap-0\/2 {
  row-gap: 0.5px;
}

@media screen and (min-width: 640px) {
  .mb\:gap-0\/2 {
    gap: 0.5px;
  }
  .mb\:col-gap-0\/2 {
    -webkit-column-gap: 0.5px;
            column-gap: 0.5px;
  }
  .mb\:row-gap-0\/2 {
    row-gap: 0.5px;
  }
}

@media screen and (min-width: 768px) {
  .tb\:gap-0\/2 {
    gap: 0.5px;
  }
  .tb\:col-gap-0\/2 {
    -webkit-column-gap: 0.5px;
            column-gap: 0.5px;
  }
  .tb\:row-gap-0\/2 {
    row-gap: 0.5px;
  }
}

@media screen and (min-width: 1024px) {
  .lp\:gap-0\/2 {
    gap: 0.5px;
  }
  .lp\:col-gap-0\/2 {
    -webkit-column-gap: 0.5px;
            column-gap: 0.5px;
  }
  .lp\:row-gap-0\/2 {
    row-gap: 0.5px;
  }
}

@media screen and (min-width: 1280px) {
  .dt\:gap-0\/2 {
    gap: 0.5px;
  }
  .dt\:col-gap-0\/2 {
    -webkit-column-gap: 0.5px;
            column-gap: 0.5px;
  }
  .dt\:row-gap-0\/2 {
    row-gap: 0.5px;
  }
}

.gap-1 {
  gap: 1px;
}

.col-gap-1 {
  -webkit-column-gap: 1px;
          column-gap: 1px;
}

.row-gap-1 {
  row-gap: 1px;
}

@media screen and (min-width: 640px) {
  .mb\:gap-1 {
    gap: 1px;
  }
  .mb\:col-gap-1 {
    -webkit-column-gap: 1px;
            column-gap: 1px;
  }
  .mb\:row-gap-1 {
    row-gap: 1px;
  }
}

@media screen and (min-width: 768px) {
  .tb\:gap-1 {
    gap: 1px;
  }
  .tb\:col-gap-1 {
    -webkit-column-gap: 1px;
            column-gap: 1px;
  }
  .tb\:row-gap-1 {
    row-gap: 1px;
  }
}

@media screen and (min-width: 1024px) {
  .lp\:gap-1 {
    gap: 1px;
  }
  .lp\:col-gap-1 {
    -webkit-column-gap: 1px;
            column-gap: 1px;
  }
  .lp\:row-gap-1 {
    row-gap: 1px;
  }
}

@media screen and (min-width: 1280px) {
  .dt\:gap-1 {
    gap: 1px;
  }
  .dt\:col-gap-1 {
    -webkit-column-gap: 1px;
            column-gap: 1px;
  }
  .dt\:row-gap-1 {
    row-gap: 1px;
  }
}

.gap-1\/2 {
  gap: 1.5px;
}

.col-gap-1\/2 {
  -webkit-column-gap: 1.5px;
          column-gap: 1.5px;
}

.row-gap-1\/2 {
  row-gap: 1.5px;
}

@media screen and (min-width: 640px) {
  .mb\:gap-1\/2 {
    gap: 1.5px;
  }
  .mb\:col-gap-1\/2 {
    -webkit-column-gap: 1.5px;
            column-gap: 1.5px;
  }
  .mb\:row-gap-1\/2 {
    row-gap: 1.5px;
  }
}

@media screen and (min-width: 768px) {
  .tb\:gap-1\/2 {
    gap: 1.5px;
  }
  .tb\:col-gap-1\/2 {
    -webkit-column-gap: 1.5px;
            column-gap: 1.5px;
  }
  .tb\:row-gap-1\/2 {
    row-gap: 1.5px;
  }
}

@media screen and (min-width: 1024px) {
  .lp\:gap-1\/2 {
    gap: 1.5px;
  }
  .lp\:col-gap-1\/2 {
    -webkit-column-gap: 1.5px;
            column-gap: 1.5px;
  }
  .lp\:row-gap-1\/2 {
    row-gap: 1.5px;
  }
}

@media screen and (min-width: 1280px) {
  .dt\:gap-1\/2 {
    gap: 1.5px;
  }
  .dt\:col-gap-1\/2 {
    -webkit-column-gap: 1.5px;
            column-gap: 1.5px;
  }
  .dt\:row-gap-1\/2 {
    row-gap: 1.5px;
  }
}

.gap-2 {
  gap: 2px;
}

.col-gap-2 {
  -webkit-column-gap: 2px;
          column-gap: 2px;
}

.row-gap-2 {
  row-gap: 2px;
}

@media screen and (min-width: 640px) {
  .mb\:gap-2 {
    gap: 2px;
  }
  .mb\:col-gap-2 {
    -webkit-column-gap: 2px;
            column-gap: 2px;
  }
  .mb\:row-gap-2 {
    row-gap: 2px;
  }
}

@media screen and (min-width: 768px) {
  .tb\:gap-2 {
    gap: 2px;
  }
  .tb\:col-gap-2 {
    -webkit-column-gap: 2px;
            column-gap: 2px;
  }
  .tb\:row-gap-2 {
    row-gap: 2px;
  }
}

@media screen and (min-width: 1024px) {
  .lp\:gap-2 {
    gap: 2px;
  }
  .lp\:col-gap-2 {
    -webkit-column-gap: 2px;
            column-gap: 2px;
  }
  .lp\:row-gap-2 {
    row-gap: 2px;
  }
}

@media screen and (min-width: 1280px) {
  .dt\:gap-2 {
    gap: 2px;
  }
  .dt\:col-gap-2 {
    -webkit-column-gap: 2px;
            column-gap: 2px;
  }
  .dt\:row-gap-2 {
    row-gap: 2px;
  }
}

.gap-2\/2 {
  gap: 2.5px;
}

.col-gap-2\/2 {
  -webkit-column-gap: 2.5px;
          column-gap: 2.5px;
}

.row-gap-2\/2 {
  row-gap: 2.5px;
}

@media screen and (min-width: 640px) {
  .mb\:gap-2\/2 {
    gap: 2.5px;
  }
  .mb\:col-gap-2\/2 {
    -webkit-column-gap: 2.5px;
            column-gap: 2.5px;
  }
  .mb\:row-gap-2\/2 {
    row-gap: 2.5px;
  }
}

@media screen and (min-width: 768px) {
  .tb\:gap-2\/2 {
    gap: 2.5px;
  }
  .tb\:col-gap-2\/2 {
    -webkit-column-gap: 2.5px;
            column-gap: 2.5px;
  }
  .tb\:row-gap-2\/2 {
    row-gap: 2.5px;
  }
}

@media screen and (min-width: 1024px) {
  .lp\:gap-2\/2 {
    gap: 2.5px;
  }
  .lp\:col-gap-2\/2 {
    -webkit-column-gap: 2.5px;
            column-gap: 2.5px;
  }
  .lp\:row-gap-2\/2 {
    row-gap: 2.5px;
  }
}

@media screen and (min-width: 1280px) {
  .dt\:gap-2\/2 {
    gap: 2.5px;
  }
  .dt\:col-gap-2\/2 {
    -webkit-column-gap: 2.5px;
            column-gap: 2.5px;
  }
  .dt\:row-gap-2\/2 {
    row-gap: 2.5px;
  }
}

.gap-3 {
  gap: 3px;
}

.col-gap-3 {
  -webkit-column-gap: 3px;
          column-gap: 3px;
}

.row-gap-3 {
  row-gap: 3px;
}

@media screen and (min-width: 640px) {
  .mb\:gap-3 {
    gap: 3px;
  }
  .mb\:col-gap-3 {
    -webkit-column-gap: 3px;
            column-gap: 3px;
  }
  .mb\:row-gap-3 {
    row-gap: 3px;
  }
}

@media screen and (min-width: 768px) {
  .tb\:gap-3 {
    gap: 3px;
  }
  .tb\:col-gap-3 {
    -webkit-column-gap: 3px;
            column-gap: 3px;
  }
  .tb\:row-gap-3 {
    row-gap: 3px;
  }
}

@media screen and (min-width: 1024px) {
  .lp\:gap-3 {
    gap: 3px;
  }
  .lp\:col-gap-3 {
    -webkit-column-gap: 3px;
            column-gap: 3px;
  }
  .lp\:row-gap-3 {
    row-gap: 3px;
  }
}

@media screen and (min-width: 1280px) {
  .dt\:gap-3 {
    gap: 3px;
  }
  .dt\:col-gap-3 {
    -webkit-column-gap: 3px;
            column-gap: 3px;
  }
  .dt\:row-gap-3 {
    row-gap: 3px;
  }
}

.gap-3\/2 {
  gap: 3.5px;
}

.col-gap-3\/2 {
  -webkit-column-gap: 3.5px;
          column-gap: 3.5px;
}

.row-gap-3\/2 {
  row-gap: 3.5px;
}

@media screen and (min-width: 640px) {
  .mb\:gap-3\/2 {
    gap: 3.5px;
  }
  .mb\:col-gap-3\/2 {
    -webkit-column-gap: 3.5px;
            column-gap: 3.5px;
  }
  .mb\:row-gap-3\/2 {
    row-gap: 3.5px;
  }
}

@media screen and (min-width: 768px) {
  .tb\:gap-3\/2 {
    gap: 3.5px;
  }
  .tb\:col-gap-3\/2 {
    -webkit-column-gap: 3.5px;
            column-gap: 3.5px;
  }
  .tb\:row-gap-3\/2 {
    row-gap: 3.5px;
  }
}

@media screen and (min-width: 1024px) {
  .lp\:gap-3\/2 {
    gap: 3.5px;
  }
  .lp\:col-gap-3\/2 {
    -webkit-column-gap: 3.5px;
            column-gap: 3.5px;
  }
  .lp\:row-gap-3\/2 {
    row-gap: 3.5px;
  }
}

@media screen and (min-width: 1280px) {
  .dt\:gap-3\/2 {
    gap: 3.5px;
  }
  .dt\:col-gap-3\/2 {
    -webkit-column-gap: 3.5px;
            column-gap: 3.5px;
  }
  .dt\:row-gap-3\/2 {
    row-gap: 3.5px;
  }
}

.gap-4 {
  gap: 4px;
}

.col-gap-4 {
  -webkit-column-gap: 4px;
          column-gap: 4px;
}

.row-gap-4 {
  row-gap: 4px;
}

@media screen and (min-width: 640px) {
  .mb\:gap-4 {
    gap: 4px;
  }
  .mb\:col-gap-4 {
    -webkit-column-gap: 4px;
            column-gap: 4px;
  }
  .mb\:row-gap-4 {
    row-gap: 4px;
  }
}

@media screen and (min-width: 768px) {
  .tb\:gap-4 {
    gap: 4px;
  }
  .tb\:col-gap-4 {
    -webkit-column-gap: 4px;
            column-gap: 4px;
  }
  .tb\:row-gap-4 {
    row-gap: 4px;
  }
}

@media screen and (min-width: 1024px) {
  .lp\:gap-4 {
    gap: 4px;
  }
  .lp\:col-gap-4 {
    -webkit-column-gap: 4px;
            column-gap: 4px;
  }
  .lp\:row-gap-4 {
    row-gap: 4px;
  }
}

@media screen and (min-width: 1280px) {
  .dt\:gap-4 {
    gap: 4px;
  }
  .dt\:col-gap-4 {
    -webkit-column-gap: 4px;
            column-gap: 4px;
  }
  .dt\:row-gap-4 {
    row-gap: 4px;
  }
}

.gap-4\/2 {
  gap: 4.5px;
}

.col-gap-4\/2 {
  -webkit-column-gap: 4.5px;
          column-gap: 4.5px;
}

.row-gap-4\/2 {
  row-gap: 4.5px;
}

@media screen and (min-width: 640px) {
  .mb\:gap-4\/2 {
    gap: 4.5px;
  }
  .mb\:col-gap-4\/2 {
    -webkit-column-gap: 4.5px;
            column-gap: 4.5px;
  }
  .mb\:row-gap-4\/2 {
    row-gap: 4.5px;
  }
}

@media screen and (min-width: 768px) {
  .tb\:gap-4\/2 {
    gap: 4.5px;
  }
  .tb\:col-gap-4\/2 {
    -webkit-column-gap: 4.5px;
            column-gap: 4.5px;
  }
  .tb\:row-gap-4\/2 {
    row-gap: 4.5px;
  }
}

@media screen and (min-width: 1024px) {
  .lp\:gap-4\/2 {
    gap: 4.5px;
  }
  .lp\:col-gap-4\/2 {
    -webkit-column-gap: 4.5px;
            column-gap: 4.5px;
  }
  .lp\:row-gap-4\/2 {
    row-gap: 4.5px;
  }
}

@media screen and (min-width: 1280px) {
  .dt\:gap-4\/2 {
    gap: 4.5px;
  }
  .dt\:col-gap-4\/2 {
    -webkit-column-gap: 4.5px;
            column-gap: 4.5px;
  }
  .dt\:row-gap-4\/2 {
    row-gap: 4.5px;
  }
}

.gap-5 {
  gap: 5px;
}

.col-gap-5 {
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.row-gap-5 {
  row-gap: 5px;
}

@media screen and (min-width: 640px) {
  .mb\:gap-5 {
    gap: 5px;
  }
  .mb\:col-gap-5 {
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
  .mb\:row-gap-5 {
    row-gap: 5px;
  }
}

@media screen and (min-width: 768px) {
  .tb\:gap-5 {
    gap: 5px;
  }
  .tb\:col-gap-5 {
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
  .tb\:row-gap-5 {
    row-gap: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .lp\:gap-5 {
    gap: 5px;
  }
  .lp\:col-gap-5 {
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
  .lp\:row-gap-5 {
    row-gap: 5px;
  }
}

@media screen and (min-width: 1280px) {
  .dt\:gap-5 {
    gap: 5px;
  }
  .dt\:col-gap-5 {
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
  .dt\:row-gap-5 {
    row-gap: 5px;
  }
}

.gap-5\/2 {
  gap: 5.5px;
}

.col-gap-5\/2 {
  -webkit-column-gap: 5.5px;
          column-gap: 5.5px;
}

.row-gap-5\/2 {
  row-gap: 5.5px;
}

@media screen and (min-width: 640px) {
  .mb\:gap-5\/2 {
    gap: 5.5px;
  }
  .mb\:col-gap-5\/2 {
    -webkit-column-gap: 5.5px;
            column-gap: 5.5px;
  }
  .mb\:row-gap-5\/2 {
    row-gap: 5.5px;
  }
}

@media screen and (min-width: 768px) {
  .tb\:gap-5\/2 {
    gap: 5.5px;
  }
  .tb\:col-gap-5\/2 {
    -webkit-column-gap: 5.5px;
            column-gap: 5.5px;
  }
  .tb\:row-gap-5\/2 {
    row-gap: 5.5px;
  }
}

@media screen and (min-width: 1024px) {
  .lp\:gap-5\/2 {
    gap: 5.5px;
  }
  .lp\:col-gap-5\/2 {
    -webkit-column-gap: 5.5px;
            column-gap: 5.5px;
  }
  .lp\:row-gap-5\/2 {
    row-gap: 5.5px;
  }
}

@media screen and (min-width: 1280px) {
  .dt\:gap-5\/2 {
    gap: 5.5px;
  }
  .dt\:col-gap-5\/2 {
    -webkit-column-gap: 5.5px;
            column-gap: 5.5px;
  }
  .dt\:row-gap-5\/2 {
    row-gap: 5.5px;
  }
}

.gap-6 {
  gap: 6px;
}

.col-gap-6 {
  -webkit-column-gap: 6px;
          column-gap: 6px;
}

.row-gap-6 {
  row-gap: 6px;
}

@media screen and (min-width: 640px) {
  .mb\:gap-6 {
    gap: 6px;
  }
  .mb\:col-gap-6 {
    -webkit-column-gap: 6px;
            column-gap: 6px;
  }
  .mb\:row-gap-6 {
    row-gap: 6px;
  }
}

@media screen and (min-width: 768px) {
  .tb\:gap-6 {
    gap: 6px;
  }
  .tb\:col-gap-6 {
    -webkit-column-gap: 6px;
            column-gap: 6px;
  }
  .tb\:row-gap-6 {
    row-gap: 6px;
  }
}

@media screen and (min-width: 1024px) {
  .lp\:gap-6 {
    gap: 6px;
  }
  .lp\:col-gap-6 {
    -webkit-column-gap: 6px;
            column-gap: 6px;
  }
  .lp\:row-gap-6 {
    row-gap: 6px;
  }
}

@media screen and (min-width: 1280px) {
  .dt\:gap-6 {
    gap: 6px;
  }
  .dt\:col-gap-6 {
    -webkit-column-gap: 6px;
            column-gap: 6px;
  }
  .dt\:row-gap-6 {
    row-gap: 6px;
  }
}

.grid-cols-none {
  -ms-grid-columns: none;
      grid-template-columns: none;
}

.grid-cols-0 {
  -ms-grid-columns: (minmax(0, 1fr))[0];
      grid-template-columns: repeat(0, minmax(0, 1fr));
}

.grid-rows-none {
  -ms-grid-rows: none;
      grid-template-rows: none;
}

.grid-rows-0 {
  -ms-grid-rows: (minmax(0, 1fr))[0];
      grid-template-rows: repeat(0, minmax(0, 1fr));
}

.col-auto {
  grid-column: auto;
}

.col-start-13 {
  -ms-grid-column: 13;
      grid-column-start: 13;
}

.col-end-13 {
  grid-column-end: 13;
}

.col-start-auto {
  -ms-grid-column: auto;
      grid-column-start: auto;
}

.col-end-auto {
  grid-column-end: auto;
}

.col-span-0 {
  grid-column: span 0/span 0;
}

.col-start-0 {
  -ms-grid-column: 0;
      grid-column-start: 0;
}

.col-end-0 {
  grid-column-end: 0;
}

.row-auto {
  grid-row: auto;
}

.row-start-13 {
  -ms-grid-row: 13;
      grid-row-start: 13;
}

.row-end-13 {
  grid-row-end: 13;
}

.row-start-auto {
  -ms-grid-row: auto;
      grid-row-start: auto;
}

.row-end-auto {
  grid-row-end: auto;
}

.row-span-0 {
  grid-row: span 0/span 0;
}

.row-start-0 {
  -ms-grid-row: 0;
      grid-row-start: 0;
}

.row-end-0 {
  grid-row-end: 0;
}

.grid-cols-1 {
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-rows-1 {
  -ms-grid-rows: (minmax(0, 1fr))[1];
      grid-template-rows: repeat(1, minmax(0, 1fr));
}

.col-span-1 {
  grid-column: span 1/span 1;
}

.col-start-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.col-end-1 {
  grid-column-end: 1;
}

.row-span-1 {
  grid-row: span 1/span 1;
}

.row-start-1 {
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.row-end-1 {
  grid-row-end: 1;
}

.grid-cols-2 {
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-rows-2 {
  -ms-grid-rows: (minmax(0, 1fr))[2];
      grid-template-rows: repeat(2, minmax(0, 1fr));
}

.col-span-2 {
  grid-column: span 2/span 2;
}

.col-start-2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.col-end-2 {
  grid-column-end: 2;
}

.row-span-2 {
  grid-row: span 2/span 2;
}

.row-start-2 {
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.row-end-2 {
  grid-row-end: 2;
}

.grid-cols-3 {
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-rows-3 {
  -ms-grid-rows: (minmax(0, 1fr))[3];
      grid-template-rows: repeat(3, minmax(0, 1fr));
}

.col-span-3 {
  grid-column: span 3/span 3;
}

.col-start-3 {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.col-end-3 {
  grid-column-end: 3;
}

.row-span-3 {
  grid-row: span 3/span 3;
}

.row-start-3 {
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.row-end-3 {
  grid-row-end: 3;
}

.grid-cols-4 {
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-rows-4 {
  -ms-grid-rows: (minmax(0, 1fr))[4];
      grid-template-rows: repeat(4, minmax(0, 1fr));
}

.col-span-4 {
  grid-column: span 4/span 4;
}

.col-start-4 {
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.col-end-4 {
  grid-column-end: 4;
}

.row-span-4 {
  grid-row: span 4/span 4;
}

.row-start-4 {
  -ms-grid-row: 4;
      grid-row-start: 4;
}

.row-end-4 {
  grid-row-end: 4;
}

.grid-cols-5 {
  -ms-grid-columns: (minmax(0, 1fr))[5];
      grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-rows-5 {
  -ms-grid-rows: (minmax(0, 1fr))[5];
      grid-template-rows: repeat(5, minmax(0, 1fr));
}

.col-span-5 {
  grid-column: span 5/span 5;
}

.col-start-5 {
  -ms-grid-column: 5;
      grid-column-start: 5;
}

.col-end-5 {
  grid-column-end: 5;
}

.row-span-5 {
  grid-row: span 5/span 5;
}

.row-start-5 {
  -ms-grid-row: 5;
      grid-row-start: 5;
}

.row-end-5 {
  grid-row-end: 5;
}

.grid-cols-6 {
  -ms-grid-columns: (minmax(0, 1fr))[6];
      grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-rows-6 {
  -ms-grid-rows: (minmax(0, 1fr))[6];
      grid-template-rows: repeat(6, minmax(0, 1fr));
}

.col-span-6 {
  grid-column: span 6/span 6;
}

.col-start-6 {
  -ms-grid-column: 6;
      grid-column-start: 6;
}

.col-end-6 {
  grid-column-end: 6;
}

.row-span-6 {
  grid-row: span 6/span 6;
}

.row-start-6 {
  -ms-grid-row: 6;
      grid-row-start: 6;
}

.row-end-6 {
  grid-row-end: 6;
}

.grid-cols-7 {
  -ms-grid-columns: (minmax(0, 1fr))[7];
      grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-rows-7 {
  -ms-grid-rows: (minmax(0, 1fr))[7];
      grid-template-rows: repeat(7, minmax(0, 1fr));
}

.col-span-7 {
  grid-column: span 7/span 7;
}

.col-start-7 {
  -ms-grid-column: 7;
      grid-column-start: 7;
}

.col-end-7 {
  grid-column-end: 7;
}

.row-span-7 {
  grid-row: span 7/span 7;
}

.row-start-7 {
  -ms-grid-row: 7;
      grid-row-start: 7;
}

.row-end-7 {
  grid-row-end: 7;
}

.grid-cols-8 {
  -ms-grid-columns: (minmax(0, 1fr))[8];
      grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-rows-8 {
  -ms-grid-rows: (minmax(0, 1fr))[8];
      grid-template-rows: repeat(8, minmax(0, 1fr));
}

.col-span-8 {
  grid-column: span 8/span 8;
}

.col-start-8 {
  -ms-grid-column: 8;
      grid-column-start: 8;
}

.col-end-8 {
  grid-column-end: 8;
}

.row-span-8 {
  grid-row: span 8/span 8;
}

.row-start-8 {
  -ms-grid-row: 8;
      grid-row-start: 8;
}

.row-end-8 {
  grid-row-end: 8;
}

.grid-cols-9 {
  -ms-grid-columns: (minmax(0, 1fr))[9];
      grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-rows-9 {
  -ms-grid-rows: (minmax(0, 1fr))[9];
      grid-template-rows: repeat(9, minmax(0, 1fr));
}

.col-span-9 {
  grid-column: span 9/span 9;
}

.col-start-9 {
  -ms-grid-column: 9;
      grid-column-start: 9;
}

.col-end-9 {
  grid-column-end: 9;
}

.row-span-9 {
  grid-row: span 9/span 9;
}

.row-start-9 {
  -ms-grid-row: 9;
      grid-row-start: 9;
}

.row-end-9 {
  grid-row-end: 9;
}

.grid-cols-10 {
  -ms-grid-columns: (minmax(0, 1fr))[10];
      grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-rows-10 {
  -ms-grid-rows: (minmax(0, 1fr))[10];
      grid-template-rows: repeat(10, minmax(0, 1fr));
}

.col-span-10 {
  grid-column: span 10/span 10;
}

.col-start-10 {
  -ms-grid-column: 10;
      grid-column-start: 10;
}

.col-end-10 {
  grid-column-end: 10;
}

.row-span-10 {
  grid-row: span 10/span 10;
}

.row-start-10 {
  -ms-grid-row: 10;
      grid-row-start: 10;
}

.row-end-10 {
  grid-row-end: 10;
}

.grid-cols-11 {
  -ms-grid-columns: (minmax(0, 1fr))[11];
      grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-rows-11 {
  -ms-grid-rows: (minmax(0, 1fr))[11];
      grid-template-rows: repeat(11, minmax(0, 1fr));
}

.col-span-11 {
  grid-column: span 11/span 11;
}

.col-start-11 {
  -ms-grid-column: 11;
      grid-column-start: 11;
}

.col-end-11 {
  grid-column-end: 11;
}

.row-span-11 {
  grid-row: span 11/span 11;
}

.row-start-11 {
  -ms-grid-row: 11;
      grid-row-start: 11;
}

.row-end-11 {
  grid-row-end: 11;
}

.grid-cols-12 {
  -ms-grid-columns: (minmax(0, 1fr))[12];
      grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-rows-12 {
  -ms-grid-rows: (minmax(0, 1fr))[12];
      grid-template-rows: repeat(12, minmax(0, 1fr));
}

.col-span-12 {
  grid-column: span 12/span 12;
}

.col-start-12 {
  -ms-grid-column: 12;
      grid-column-start: 12;
}

.col-end-12 {
  grid-column-end: 12;
}

.row-span-12 {
  grid-row: span 12/span 12;
}

.row-start-12 {
  -ms-grid-row: 12;
      grid-row-start: 12;
}

.row-end-12 {
  grid-row-end: 12;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.grid-flow-row-dense {
  grid-auto-flow: row dense;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-flow-col-dense {
  grid-auto-flow: column dense;
}

.j-items-start {
  justify-items: start;
}

.j-items-end {
  justify-items: end;
}

.j-items-center {
  justify-items: center;
}

.j-items-stretch {
  justify-items: stretch;
}

.j-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.j-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.j-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-content-stretch {
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.j-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.j-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.j-content-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.a-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.a-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.a-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.a-content-start {
  -ms-flex-line-pack: start;
      align-content: start;
}

.a-content-end {
  -ms-flex-line-pack: end;
      align-content: end;
}

.a-content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.a-content-stretch {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.a-content-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.a-content-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.a-content-evenly {
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}
/*# sourceMappingURL=v-grid.css.map */