// Breakpoints
$breakpoints: ('mobile': 320px,
    'tablet': 768px,
    'laptop': 1024px,
    'desktop': 1400px) !default;

// Vars
$max-cols: 12;
$max-rows: 6;

// Functions
@function checkAxis($axis) {
    @if $axis==col  or  $axis==cols{
        @if $axis==col {
            @return column;
        } @else {
            @return columns;
        }
                
    }@else {
        @return #{$axis};
    }
}

@function checkAlign($align) {
    @if $align == j {
        @return justify;
    } @else {
        @return align;
    }
}

// Display
.inline-grid {
    display: inline-grid;
}

.v-grid {
    display: grid;
}


// Gap's ================================================
@for $i from 0 through $max-cols {

    @if round($i / 2)==$i / 2 {

        // Comprueba si es decimal
        .gap-#{$i / 2} {
            gap: ($i / 2) * 1px;
        }

        .col-gap-#{$i / 2} {
            column-gap: ($i / 2) * 1px;
        }

        .row-gap-#{$i / 2} {
            row-gap: ($i / 2) * 1px;
        }
    }

    @else {
        $var: round($i / 2) - 1;

        .gap-#{$var}\/2 {
            gap: ($i / 2) * 1px;
        }

        .col-gap-#{$var}\/2 {
            column-gap: ($i / 2) * 1px;
        }

        .row-gap-#{$var}\/2 {
            row-gap: ($i / 2) * 1px;
        }
    }
}

// grid-template-colums grid-template-rows  | grid-column, grid-column-start, grid-column-end, grid-row, grid-row-start, grid-row-end
@for $i from 0 through $max-cols {

    // grid-template-colums grid-template-rows 
    @each $axis in (cols, rows) {
        $value: checkAxis($axis);

        @if $i==0 {
            .grid-#{$axis}-none {
                grid-template-#{$value}: none;
            }
        }

        .grid-#{$axis}-#{$i} {
            grid-template-#{$value}: repeat($i, minmax(0, 1fr));
        }
    }

    // grid-column, grid-column-start, grid-column-end, grid-row, grid-row-start, grid-row-end,
    @each $axis in (col, row) {
        $value: checkAxis($axis);

        @if $i==0 {

            .#{$axis}-auto {
                grid-#{$value}: auto;
            }

            .#{$axis}-start-13 {
                grid-#{$value}-start: 13;
            }

            .#{$axis}-end-13 {
                grid-#{$value}-end: 13;
            }

            .#{$axis}-start-auto {
                grid-#{$value}-start: auto;
            }

            .#{$axis}-end-auto {
                grid-#{$value}-end: auto;
            }
        }


        .#{$axis}-span-#{$i} {
            grid-#{$value}: span $i / span $i;
        }

        .#{$axis}-start-#{$i} {
            grid-#{$value}-start: $i;
        }

        .#{$axis}-end-#{$i} {
            grid-#{$value}-end: $i;
        }
    }

}

// grid-auto-flow =====================================
@each $axis in (row, col) {
    $value: checkAxis($axis);

    .grid-flow-#{$axis} {
        grid-auto-flow: #{$value};
    }

    .grid-flow-#{$axis}-dense {
        grid-auto-flow: #{$value} dense;
    }
}

// Alignment
// justify-items:   start | end | center | stretch;
// align-items:     start | end | center | stretch;
// justify-content: start | end | center | stretch | space-around | space-between | space-evenly; 
// align-content:   start | end | center | stretch | space-around | space-between | space-evenly;  
@each $align in (j, a) {
    @each $mode in (items, content) {
        $alignName: checkAlign($align);
        @each $value in (start, end, center, stretch) {
            .#{$align}-#{$mode}-#{$value} {
                #{$alignName}-#{$mode}: $value;
            }
        }
        @if $mode == content {
            @each $value in (around, between, evenly) {
                .#{$align}-#{$mode}-#{$value} {
                    #{$alignName}-#{$mode}: space-#{$value};
                }
            }
        }
    }
}